.header_input {
  width: 75%;
  align-items: center;
}
.error {
  width: 75%;
  margin: auto;
}
#red_color {
  color: rgb(211, 44, 44);
}

#header {
  border-radius: 5px;
  color: white;
}

.output_container {
  color: black;
  /* display: none; */
  width: 75%;
  margin: auto;
}

@media (min-width: 775px) {
  #poster {
    float: left;
  }
}

#poster {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
#rating {
  text-align: center;
  align-items: center;
  justify-content: center;
}

#modal {
  display: none;
}

.output_container {
  margin: auto;
  padding: 0;
}
