.anim {
  display: none;
  position: fixed;
  z-index: 1000;
  /* top: 70%; */
  /* left: 50%; */
  height: 100%;
  width: 100%;
  /*background: transparent
    url("https://media.giphy.com/media/j2AqKHK9rq217Ag8EX/giphy.gif") 50% 50%
    no-repeat; */
  background: transparent url("animation.webp") 50% 50% no-repeat;
  transform: translate(-50%, -50%);
  transform: scale(.5);
}

/* When the body has the loading class, we turn
 the scrollbar off with overflow:hidden */
body.loading .anim {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
 modal element will be visible */
body.loading .anim {
  display: block;
}

/* Loading Animation Ends */

.header_input {
  width: 75%;
  align-items: center;
}
.error {
  width: 75%;
  margin: auto;
}
#red_color {
  color: rgb(211, 44, 44);
}

#header {
  border-radius: 5px;
  color: white;
}

.output_container {
  color: black;
  /* display: none; */
  width: 75%;
  margin: auto;
}

@media (min-width: 775px) {
  #poster {
    float: left;
  }
}

#poster {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
#rating {
  text-align: center;
  align-items: center;
  justify-content: center;
}

#modal {
  display: none;
}

.output_container {
  margin: auto;
  padding: 0;
}

#poster {
  padding: 15px;
}
